.card-box{
    border-radius: 4px;
    background: #37404a;
    padding: 2.4rem;
    margin-top: 2rem;

    .box-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.2rem;
        gap: 1rem;
        background: #464F5B;
        border-radius: 4px;

        h6{
            font-size: 1.6rem;
            line-height: 2.2rem;
            text-transform: uppercase;
            color: #AAB8C5;
        }
    }
    .box-content{
        padding: 2rem 0;

        label{
            input,select{
                color: $gray-light-400;
                background-color: $gray-dark-300;
                outline: none;
            }
        }
        .dataTables_wrapper .dataTables_scroll{
            padding-top: 1.6rem;
        }
    }

}

.chart-content-portfolio{
    display: flex;
    gap: 2.4rem;
    justify-content: center;
    flex-wrap: wrap;

    .card-box{
        flex: 1 1 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .box-title{
            width: 100%;
        }
    }
}