.container{
    width: 100%;
    max-width: 151.6rem;
    padding: 0 2.5rem;
    margin: 0 auto;
}

.page-title{
    margin-top: 2rem
}

.title-section{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.2rem;
    border-radius: 4px;
    background: $gray-dark-200;

    h6{
        font-size: 1.6rem;
        line-height: 22px;
        font-weight: 400;
        color: $gray-light-200;
        text-transform: uppercase;

        margin-left: 1rem;
    }
}

h4{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 130%;

    color: $gray-light-500;
}