// Brand Colors

$brand-color-red: #fa6767;
$brand-color-blue: #3688fc;
$brand-color-blue-light: #44badc;
$brand-color-green: #42d29d;

// Gray Colors Dark

$gray-dark-100: #474d56;
$gray-dark-200: #464f5b;
$gray-dark-300: #404954;
$gray-dark-400: #3a444e;
$gray-dark-500: #37404a;
$gray-dark-600: #373d3f;
$gray-dark-700: #343a40;

$gray-light-100: #eeeeee;
$gray-light-200: #eceff1;
$gray-light-300: #e3eaef;
$gray-light-400: #ced4da;
$gray-light-500: #aab8c5;
$gray-light-600: #8391a2;
$gray-light-700: #6e8192;

// Positive/Negative Colors

$black-color: #000000;
$white-color: #FFFFFF;

//Opacity Colors

$blue-opacity: rgb(54, 136, 252, 0.25);
$white-opacity-80: rgb(255, 255, 255, 0.80);
$white-opacity-90: rgb(255, 255, 255, 0.90);