.container-sign {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 1.5rem;
    overflow-x: hidden;
    @include flex(column, center, center);

    .signin,.signup{
        width: 100%;
    }

    .content {
        @include flex(column, center, flex-start);
        max-width: 47.5rem;
        margin: 0 auto;
        padding: 0px 12px;
    }

    header {
        @include flex(column, center, center);
        width: 100%;
        max-width: 45.1rem;
        height: 127px;
        background: $brand-color-blue;
        border-radius: 4px 4px 0px 0px;

        h2 {
            font-weight: 600;
            font-size: 4.2rem;
            line-height: 150%;
            color: $white-color;
        }
    }

    .form-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.6rem;
        gap: 1.6rem;

        width: 100%;
        max-width: 45.1rem;

        background: $gray-dark-500;
        border-radius: 0px 0px 4px 4px;

        h4,
        h6 {
            width: 100%;
            max-width: 22.8rem;
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 130%;

            text-align: center;

            color: $gray-light-500;
        }
        span{
            font-size: 1.8rem;
            line-height: 2.2rem;
            padding: .2rem;

            text-align: center;
        }
        p {
            font-size: 1.2rem;
            line-height: 2.2rem;
            padding: .2rem;
            color: $brand-color-red;
            text-align: center;
        }

        .form {
            width: 100%;
            .input-box {
                width: 100%;
                max-width: 38rem;
                @include flex(column, flex-start, center);
                margin-bottom: 1.2rem;

                label {
                    font-size: 1.8rem;
                    line-height: 130%;

                    color: $white-color;
                    margin-bottom: 0.4rem;
                }

                input {
                    width: 100%;
                    padding: 0.7rem 1.4rem;

                    background: $gray-dark-200;
                    border-radius: 4px;

                    font-size: 1.8rem;
                    line-height: 130%;
                    color: $gray-light-500;
                    outline: none;

                    &:focus{
                        background: $gray-dark-100;
                    }
                }
            }
            .submit-box {
                @include flex(row, center, space-between);
                margin-top: 2.2rem;
            }
            .submit-box-signup {
                margin-top: 2.2rem;
            }
        }
    }

    footer {
        padding: 2.4rem 0;
        .link-signup {
            color: $gray-light-300;
        }
    }
}
