.shape{
   @include flex(row, center, space-between);
    height: 15.3rem;
    padding: 2.4rem;
    gap: 2.4rem;
    
    background: $gray-dark-500;
    border-radius: 4px;

    flex: 1 1 400px;

    .resume-description{
        width: 100%;
        min-width: 15rem;
    
        display: flex;
        flex-direction: column;
        gap: 1rem;

        span{
            font-size: 1.4rem;
            color: $gray-light-600;
        }
        p{
            font-size: 1.4rem;
            color: $gray-light-500;
        }
        small{
            color: $gray-light-600;
            font-size: 1.4rem;
            line-height: 1.9rem;
        }
    }
    .resume-chart{
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 25rem;
        height: 100%;
    }
}