.ReactModalPortal{
    
    .overlay_redefinedPasswordModal{
        @include flex(column, center, center);

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .redefinedPasswordModal{
        position: absolute;
        width: 100%;
        max-width: 45.1rem;
        height: 32.2rem;
        background: $gray-dark-700;
        overflow: hidden;
        border-radius: .8rem;
        outline: none;
        padding: 3.5rem;

        @include flex(column, center, center);

        .header{
            width: 100%;
            max-width: 29rem;
            text-align: center;            
           
            p{
                line-height: 2.2rem;
                margin-top: 1.2rem;
                color: $gray-light-600;

            }
        }
        .pass-reset{
            width: 100%;
            margin-top: 2.4rem;
            label{
                font-size: 1.8rem;
                line-height: 130%;
                color: $white-color;
            }
            input{
                padding: .7rem 1.4rem;
                margin-top: 1rem;

                width: 100%;
                background-color: $gray-dark-200;
                border-radius: 4px;
                
                    font-size: 1.8rem;
                    line-height: 130%;
                    color: $gray-light-500;
                    outline: none;

                &::placeholder{
                    font-size: 1.8rem;
                    line-height: 130%;

                    color: $gray-light-500;
                }
            }
            button{
                margin: 2.4rem auto 0;
            }
        }
    }
}